
<ag-grid-angular
  #mainGrid
  style="width: 700px; height: 300px;"
  class="ag-theme-balham"
  domLayout='autoHeight'

  (gridReady)="onGridReady($event)"
  [columnDefs]="columnDefs"
  [rowData]="rowData"


  (sortChanged)="sortChanged($event)"
  (filterChanged)="filterChanged($event)"
  (columnResized)="columnResized($event)"
  (columnMoved)="columnMoved($event)"
  (gridColumnsChanged)="gridColumnsChanged($event)"
>
</ag-grid-angular>

<div class="pagination">
  <span class="page"
        *ngFor="let page of [].constructor(totalPages), let pageNumber = index"
        (click)="setPage(pageNumber + 1)"
  >
    {{pageNumber + 1}}
  </span>
</div>
