.ag-theme-alpine {




}

.pagination {

  .page{
    display: inline-block;
    width: 40px;
    height: 20px;
    border: 1px solid #ccc;
    margin: 1rem;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }
}
